:host {
	width: 100%;
	position: absolute;
	overflow: hidden;
	font-family: Consolas, monospace;
	font-size: 11px;

	.url {
		position: absolute;
		right: 0;
		top: 0;
	}

	.scroll-mask {
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	.scroll {
		width: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
		box-sizing: content-box;
		height: 100%;
		margin-bottom: 0;

		// IE
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			-ms-overflow-style: -ms-autohiding-scrollbar;
		}

		// Edge
		@supports (-ms-accelerator:true) {
			-ms-overflow-style: -ms-autohiding-scrollbar;
		}

		// Firefox Scrollbar width: 12px
		@supports (-moz-appearance: none) {
			height: calc(100% + 12px);
			margin-bottom: -12px;
		}

		// Chrome Scrollbar width 15px
		@supports (-webkit-appearance:none) {
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}




	.entries {
		overflow: hidden;
	}

	.output {
		width: fit-content;
		border-bottom: 1px solid lightgrey;
		min-width: calc(100% - 10px);
		padding: 5px;

		&.log, &.info, &.warn, &.debug {
			> span:not(:last-child) {
				float: left;
				margin-right: 5px;
			}
		}

		&.info {
			color: blue;
			background-color: rgba(0, 0, 255, 0.08);
		}

		&.warn {
			color: orange;
			background-color: rgba(255, 165, 0, 0.08);
		}

		&.debug {
			color: red;
			background-color: rgba(255, 0, 0, 0.08);
		}

		&.error {
			white-space: pre;
			color: red;
			background-color: rgba(255, 0, 0, 0.08);
		}
	}

	.bottom-wrapper {
		bottom: 0;
		position: sticky;
		background-color: white;
		margin-top: -1px;
		border-top: 1px solid lightgrey;
		height: calc(1rem + 5px);

		&:not(:focus-within) {
			.history .popup {
				opacity: 0;
			}
		}

		.history, .input-area {
			font-size: 1rem;
			line-height: 1rem;
			height: 1rem;
		}

		.history {
			padding-left: 22px;
			height: 0;
			overflow: visible;
			position: absolute;

			.popup {
				transition: opacity 0.2s;
				position: absolute;
				bottom: 0;
				background-color: rgba(255, 255, 255, 0.5);
				border-radius: 4px;
				border: 1px solid rgba(84, 83, 76, 0.2);
				font-size: 88%;
				display: inline-block;
				min-width: 120px;
				min-height: 15px;
				max-height: 50px;
				overflow-y: auto;

				span {
					display: block;
					position: relative;
					bottom: 0;
					transition: background-color 0.3s, color 0.3s;
					background-color: rgba(0, 0, 255, 0);

					&:active {
						transition: background-color 0s, color 0s;
						background-color: rgba(0, 0, 255, 0.5);
						color: white;
					}
				}
			}
		}

		.input-area {
			box-sizing: content-box;
			left: 0;
			right: 0;
			margin-top: 1px;
			margin-bottom: 1px;
			border: none;
			width: calc(100% - 24px);
			resize: none;
			padding: 2px;

			&:focus {
				outline: none !important;
			}
		}

		.prompt {
			transform: scaleX(0.5);
			float: left;
			color: blue;
			font-size: 1.2rem;
			margin: -1px 4px -1px 4px;
			font-family: Consolas, monospace;
			font-weight: 800;
		}
	}

}
