:host {
	width: 100%;
	position: absolute;
	font-family: Consolas, monospace;
	font-size: 11px;
	visibility: visible;

	.url {
		position: absolute;
		right: 0;
		top: 0;
	}

	.scroll-mask {
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	.scroll {
		width: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
		box-sizing: content-box;
		height: 100%;
		margin-bottom: 0;

		// IE
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			-ms-overflow-style: -ms-autohiding-scrollbar;
		}

		// Edge
		@supports (-ms-accelerator:true) {
			-ms-overflow-style: -ms-autohiding-scrollbar;
		}

		// Firefox Scrollbar width: 12px
		@supports (-moz-appearance: none) {
			height: calc(100% + 12px);
			margin-bottom: -12px;
		}

		// Chrome Scrollbar width 15px
		@supports (-webkit-appearance:none) {
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}




	.entries {
		overflow: hidden;
	}

	.output {
		width: fit-content;
		border-bottom: 1px solid lightgrey;
		min-width: calc(100% - 10px);
		padding: 5px;

		&.log, &.info, &.warn, &.debug {
			> span:not(:last-child) {
				float: left;
				margin-right: 5px;
			}
		}

		&.info {
			color: blue;
			background-color: rgba(0, 0, 255, 0.08);
		}

		&.warn {
			color: orange;
			background-color: rgba(255, 165, 0, 0.08);
		}

		&.debug {
			color: red;
			background-color: rgba(255, 0, 0, 0.08);
		}

		&.error {
			white-space: pre;
			color: red;
			background-color: rgba(255, 0, 0, 0.08);
		}
	}

	.bottom-wrapper {
		bottom: 0;
		position: sticky;
		background-color: white;
		margin-top: -1px;
		border-top: 1px solid lightgrey;
		height: calc(1rem + 5px);

		.clear {
			cursor: pointer;
			display: inline-block;
			background-color: lightgrey;
			border-radius: 10px;
			width: 16px;
			height: 16px;
			position: relative;
			margin-top: 2px;

			span {
				width: 7px;
				text-align: center;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -54%);
			}
		}

		.history, .input-area {
			font-size: 1rem;
			line-height: 1rem;
			height: 1rem;
		}

		.history {
			padding-left: 22px;
			height: 0;
			overflow: visible;
			position: absolute;

			.popup {
				transition: opacity 0.15s;
				position: absolute;
				bottom: 0;
				background-color: rgba(255, 255, 255, 0.9);
				border-radius: 4px;
				border: 1px solid rgba(84, 83, 76, 0.3);
				font-size: 88%;
				display: inline-block;
				min-width: 120px;
				min-height: 15px;
				max-height: 50px;
				overflow-y: auto;
				opacity: 0;

				&.open {
					opacity: 1;
				}

				span {
					white-space: nowrap;
					display: block;
					position: relative;
					bottom: 0;
					transition: background-color 0.3s, color 0.3s;
					background-color: rgba(0, 0, 255, 0);

					&:active {
						transition: background-color 0s, color 0s;
						background-color: rgba(0, 0, 255, 0.5);
						color: white;
					}
				}
			}
		}

		.input-area {
			border: none;
			width: calc(100% - 24px - 20px);
			resize: none;
			padding: 2px;
			transform: translateY(-2px);

			&:focus {
				outline: none !important;
			}
		}

		.prompt {
			cursor: pointer;
			transition: all 0.15s ;
			transform: scaleX(0.5);
			float: left;
			color: blue;
			font-size: 1.2rem;
			margin: -1px 4px -1px 4px;
			font-family: Consolas, monospace;
			font-weight: 800;

			&.open {
				transform: scaleY(0.5) rotateZ(-90deg);
			}
		}
	}

}
