[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true

[{*.ng,*.sht,*.html,*.shtm,*.shtml,*.htm}]
indent_style=tab
tab_width=4

[{*.mod,*.dtd,*.ent,*.elt}]
indent_style=tab
tab_width=4

[{*.jhm,*.xslt,*.xul,*.rng,*.plan,*.xsl,*.xsd,*.ant,*.wadl,*.svg,*.tld,*.fxml,*.jrxml,*.xml,*.jnlp,*.wsdl,*.wsdd,*.pom,*.xjb}]
indent_style=tab
tab_width=4

[{.babelrc,.stylelintrc,jest.config,.eslintrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=tab
tab_width=4

[{*.applejs,*.js}]
indent_style=tab
tab_width=4

[{*.ats,*.ts}]
indent_style=tab
tab_width=4

[{jshint.json,*.jshintrc}]
indent_style=tab
tab_width=4

[{*.jscs.json,*.jscsrc}]
indent_style=tab
tab_width=4

[{*.ddl,*.sql}]
indent_style=tab
tab_width=4

[*.coffee]
indent_style=space
indent_size=2

[*.scss]
indent_style=tab
tab_width=4

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

[tslint.json]
indent_style=tab
tab_width=4

